{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}

<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            responsive: true,
            retrieve: true,
            order: [],
            dom: 'lBfrtip', 
            buttons: true,

            buttons: [
                {
                extend:    'csv',
                text:      '<i class="fa fa-files-o"></i> CSV',
                titleAttr: 'CSV',
                className: 'btn btn-default btn-sm',
                exportOptions: {
                    columns: ':visible'
                }
                },
                {
                extend:    'excel',
                text:      '<i class="fa fa-files-o"></i> Excel',
                titleAttr: 'Excel',
                className: 'btn btn-default btn-sm',
                exportOptions: {
                    columns: ':visible'
                }
                },
                {
                extend:    'pdf',
                text:      '<i class="fa fa-file-pdf-o"></i> PDF',
                titleAttr: 'PDF',
                className: 'btn btn-default btn-sm',
                exportOptions: {
                    columns: ':visible'
                }
                },               
                {
                extend:    'print',
                text:      '<i class="fa fa-print"></i> Print',
                titleAttr: 'Print',
                className: 'btn btn-default btn-sm',
                exportOptions: {
                    columns: ':visible'
                }
                },  
            ]
            });
            
    } );
</script>

<div class="container shadow-lg p-3 mb-5 bg-white rounded">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}#STUDENTS">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fees_Reports</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

    <form method="post">
        {% csrf_token %}
        <div class="d-flex flex-wrap justify-content-end">
            <div class="mx-2">
                <label>Form:</label>
                <input type="date" id="min" name="min">     
            </div>
            <div class="mx-2">
                <label>To:</label>
                <input type="date" id="max" name="max">
            </div>
            <div class="mx-2">
                <input type="submit" value="search">
            </div>
        </div>
    </form>

    <table id="myTable" class="display table table-hover" style="width:100%">
        <thead class="py-lg-5">
            <tr class="py-lg-5 table-light">
                <th>Name</th>
                <th>No of Installment</th>
                <th>Installment Amount</th>
                <th>Installment Date</th>
                <th>Installment Pay</th>
                <th>Pay Date</th>
            </tr>
        </thead>
        <tbody>
            {% for fee in fees %}
            <tr>
                <td>{{fee.Student.Name}}</td>            
                <td>{{fee.Remarks}}</td>            
                <td>{{fee.Amount}}</td>            
                <td>{{fee.Emi_Payment_Date}}</td>

                {% for feePay in feesPay %}
                    {% if feePay.Student.id == fee.Student.id and feePay.Remarks == fee.Remarks %}
                        <td>{{feePay.Emi}}</td>
                        <td>{{feePay.Date}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{flag}}</td>
                <td>{{flag}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

</div>

{% endblock content %}