{% extends 'base.html' %}

{% load static %}

{% block content %}


<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            responsive: true,
        retrieve: true,
        columnDefs: [
            { "width": "20%", "targets": 3 }
        ],
        
        dom: 'lBfrtip', 
        buttons: true,
        buttons: [
            {
            extend:    'pdf',
            text:      '<i class="fa fa-file-pdf-o"></i> PDF',
            titleAttr: 'PDF',
            className: 'btn btn-default btn-sm',
            exportOptions: {
                columns: ':visible'
            }
            },               
            {
            extend:    'print',
            text:      '<i class="fa fa-print"></i> Print',
            titleAttr: 'Print',
            className: 'btn btn-default btn-sm',
            exportOptions: {
                columns: ':visible'
            }
            },  
        ]
        });
    } );
</script>




<div class="container shadow-lg p-3 mb-5 bg-white rounded">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}#STUDENTS">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Student_Reports</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->


    <div class="d-flex justify-content-between mb-4">

        <a href="{% url 'student_reports_excel' %}"><button class="btn btn-dark">Excel</button></a>

        <form method="post">
            {% csrf_token %}
            <div class="d-flex flex-wrap justify-content-end">
                <div class="mx-2">
                    <label>Form:</label>
                    <input type="date" id="min" name="min">     
                </div>
                <div class="mx-2">
                    <label>To:</label>
                    <input type="date" id="max" name="max">
                </div>
                <div class="mx-2">
                    <input type="submit" value="search">
                </div>
            </div>
        </form>

    </div>
   

    <table id="myTable" class="display table table-hover" style="width:100%">
        <thead class="py-lg-5">
            <tr class="table-light py-lg-5">
                <th>Enrollment_No</th>
                <th>Name</th>
                <th>Father Name</th>
                <th>Course</th>
                <th>Date Of Admission</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.Enrollment_No}}</td>
                <td>{{student.Name}}</td>
                <td>{{student.Father_Name}}</td>
                <td>{{student.Course}}</td>
                <td>{{student.Date_Of_Admission}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

</div>
{% endblock content %}

